*{
    box-sizing: border-box;
}
body{
    margin: auto;
}
.bg{
    background-image: url("desktop-wallpaper-university-student-male-and-female-college-students.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}